 .navbar {
     padding: 25px;
     display: flex;
     width: 100%;
     justify-content: space-around;
    }
 
   .navbar a {
     border-radius: 20px;
     background-color: #1934cf;
     color: azure;
     margin-left: 20px;
     text-decoration: none;
     padding: 10px;
   }
   
   .navbar a:hover {
     color: #070103;
     background-color: aliceblue;
   }
