.table-data {
  margin-top: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  column-gap: 10px;
}

.data-table {
  box-shadow: 1px 2px 4px blue;
  border-radius: 15px;
}
